:root {
  --bg: #0a0a0a;
  --block-hover: #171717;
  --exited-bg: #2c2c2c;
  --fg: #ffffff;
}

body {
  padding: 0;
  margin: 0;
  color: var(--fg);
  font-family: monospace;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  font-size: 2em;
}

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-input {
  flex: 1;
  color: var(--fg);
  background-color: var(--bg);
  font-family: monospace;
  outline: none;
  border: none;
  font-size: 1em;
  margin-left: .2em;
}

.user-input:focus {
  outline: none;
  border: none;
}

.error {
  color: #ff9090;
}

.exited,
.exited>*,
.exited>*>input {
  background-color: var(--exited-bg) !important;
}

.block:hover,
.block:hover>.user-input {
  background-color: var(--block-hover) !important;
}

.image-block {
  width: 100;
  display: flex;
  align-items: center;
}

.image-block>img {
  width: fit-content;
  height: fit-content;
  resize: both;
}

red {
  color: red;
}

blue {
  color: blue;
}

green {
  color: green;
}

yellow {
  color: yellow;
}

white {
  color: white;
}

large {
  font-size: 1.2em;
  font-weight: bold;
}